.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding: 50px 0;
    // margin: 0 auto;
    // height: 100vh;
    background-color: $very-dark-desaturated-blue;

    

    .header{
        width: 90%;
        max-width: 450px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        // border: 1px solid lightblue;

        &__h1{
            font-weight: 700;
            font-size: 32px;
            color: $white;
        }

        

        &__themes{
            display: flex;
            // flex-direction: row;
            align-items: flex-end;
            gap:  25px;
            .h2{
                color: $white;
                font-size: 12px;
                letter-spacing: 1.5px;
            }

            .theme{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 5px;
                p{
                    font-size: 12px;
                    color: $white;
                    letter-spacing: 6px;
                    // width: 100%;
                    text-align: center;
                    margin-left: 5px;
                }

                .toggle{
                    width: 65px;
                    height: 25px;
                    border-radius: 50px;
                    background-color: $very-dark-desaturated-blue-2;

                    .button-1{
                        width: 15px;
                        height: 15px;
                        border-radius: 50px;
                        // padding: 5px;
                        background-color: $dark-red;
                        display: inline-block;
                        margin-top: 5px;
                        margin-left: 5px;

                        &:hover{
                            cursor: pointer;
                            background-color: $red;
                        }
                    }

                    .button-2{
                        display: none;

                        width: 15px;
                        height: 15px;
                        border-radius: 50px;
                        margin-left: 23px;
                        background-color: $dark-orange;
                        margin-top: 5px;

                        &:hover{
                            cursor: pointer;
                            background-color: $orange;
                        }
                    }

                    .button-3{
                        display: none;
    
                        width: 15px;
                        height: 15px;
                        border-radius: 50px;
                        margin-left: 45px;
                        background-color: $pure-cyan;
                        margin-top: 5px;
    
                        &:hover{
                            cursor: pointer;
                            background-color: $soft-cyan;
                        }
                    
                    }
                }
            }
        }

        
    }

    .result{
        width: 90%;
        max-width: 450px;
        height: 85px;
        color: $white;
        background-color: $very-dark-desaturated-blue-3;
        border-radius: 8px;

        &__h2{
            font-size: 38px;
            font-weight: 700;
            padding: 25px;
            text-align: right;
        }
    }

    

    .buttons{
        width: 90%;
        max-width: 450px;
        background-color: $very-dark-desaturated-blue-2;
        padding: 25px;
        border-radius: 8px;
        display: grid;
        gap: 15px;
        grid-template-columns: repeat(4, 1fr);

        .button{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 32px;
            border-radius: 5px;
            background-color: $light-grayish-orange;
            color: $very-dark-grayish-blue-4;
            height: 60px;
            box-shadow: 0px 4px $grayish-orange;

            &:hover{
                cursor: pointer;
                background-color: $white;
            }

            &:nth-child(4){
                font-size: 20px;
                background-color: $desaturated-dark-blue;
                color: $white;
                box-shadow: 0px 4px $desaturated-dark-blue-2;

                &:hover{
                    cursor: pointer;
                    background-color: $desaturated-dark-blue-1;
                }
            }

            &:nth-child(17){
                grid-column: 1 / 3;
                font-size: 20px;
                background-color: $desaturated-dark-blue;
                color: $white;
                box-shadow: 0px 4px $desaturated-dark-blue-2;

                &:hover{
                    cursor: pointer;
                    background-color: $desaturated-dark-blue-1;
                }
            }

            &:nth-child(18){
                grid-column: 3 / 5;
                font-size: 20px;
                background-color: $red;
                color: $white;
                box-shadow: 0px 4px $dark-red;

                &:hover{
                    cursor: pointer;
                    background-color: $red-1;
                }
            }
        }
    }

    
}


//  Theme 2
.main-t2{
    background-color: $light-gray;

    .header{
        &__h1-t2{
            color: $very-dark-grayish-yellow;
        }
        &__themes-t2{
            .h2{
                color: $very-dark-grayish-yellow;
            }
            .theme{
                p{
                    color: $very-dark-grayish-yellow;
                }

                .toggle{
                    background-color: $grayish-red;

                    // .button-2{
                    //     margin-left: 25px;
                    //     background-color: $dark-orange;

                    //     &:hover{
                    //         background-color: $orange;
                    //     }
                    // }
                }
            }
        }
    }
    .result-t2{
        color: $very-dark-grayish-yellow;
        background-color: $white;
    }
    .buttons-t2{
        background-color: $grayish-red;

        .button{
            background-color: $light-grayish-orange;
            color: $very-dark-grayish-yellow;
            box-shadow: 0px 4px $grayish-orange;

            &:hover{
                background-color: $white;
            }

            &:nth-child(4){
                background-color: $dark-moderate-cyan;
                color: $white;
                box-shadow: 0px 4px $desaturated-dark-blue-2;

                &:hover{
                    background-color: $dark-moderate-cyan-2;
                }
            }

            &:nth-child(17){
                background-color: $dark-moderate-cyan;
                color: $white;
                box-shadow: 0px 4px $very-dark-cyan;

                &:hover{
                    background-color: $dark-moderate-cyan-2;
                }
            }

            &:nth-child(18){
                background-color: $orange;
                color: $white;
                box-shadow: 0px 4px $dark-orange;

                &:hover{
                    background-color: $orange-2;
                }
            }
        }
    }
}


// Theme 3
.main-t3{
    background-color: $very-dark-violet;

    .header{
        &__h1-t3{
            color: $light-yellow;
        }
        &__themes-t3{
            .h2{
                color: $light-yellow;
            }
            .theme{
                p{
                    color: $light-yellow;
                }

                .toggle{
                    background-color: $very-dark-violet-2;

                    // .button-3{
                    //     margin-left: 55px;
                    //     background-color: $pure-cyan;

                    //     &:hover{
                    //         background-color: $soft-cyan;
                    //     }
                    // }
                }
            }
        }
    }
    .result-t3{
        color: $light-yellow;
        background-color: $very-dark-violet-2;
    }
    .buttons-t3{
        background-color: $very-dark-violet-2;

        .button{
            background-color: $dark-violet;
            color: $light-yellow;
            box-shadow: 0px 4px $dark-magenta;

            &:hover{
                background-color: $very-dark-violet-4;
            }

            &:nth-child(4){
                background-color: $dark-magenta;
                color: $white;
                box-shadow: 0px 4px $vivid-magenta;

                &:hover{
                    background-color: $vivid-magenta;
                }
            }

            &:nth-child(17){
                background-color: $dark-magenta;
                color: $white;
                box-shadow: 0px 4px $vivid-magenta;

                &:hover{
                    background-color: $vivid-magenta;
                }
            }

            &:nth-child(18){
                background-color: $pure-cyan;
                color: $very-dark-blue;
                box-shadow: 0px 4px $soft-cyan;

                &:hover{
                    background-color: $pure-cyan-2;
                }
            }
        }
    }
}